## pandas series

In [1]:
import pandas as pd

In [2]:
import numpy as np

## 1.Create pandas series with different data types in different ways

In [3]:
# list  

numbers = list(range(40,50))
numbers = pd.Series(numbers,dtype = "float16")
numbers

0    40.0
1    41.0
2    42.0
3    43.0
4    44.0
5    45.0
6    46.0
7    47.0
8    48.0
9    49.0
dtype: float16

In [4]:
# tuple

fruits = ("orange","mango","apple","kiwi")
fruits = pd.Series(fruits,dtype = "object")
fruits

0    orange
1     mango
2     apple
3      kiwi
dtype: object

In [5]:
# array

ages = np.random.randint(10,40,10)
ages = pd.Series(ages,index = list(range(1,11)),dtype = "int8")
ages

1     39
2     37
3     20
4     32
5     32
6     33
7     10
8     29
9     11
10    35
dtype: int8

In [6]:
# dictionary

flowers = {1:"jasmin",2:"lotus",3:"rose",4:"whiterose"}
flowers = pd.Series(flowers)
flowers

1       jasmin
2        lotus
3         rose
4    whiterose
dtype: object

## 2.Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [7]:
list1 = [10,30,40,1,3,6,14,18,23]
list2 = pd.Series(list1,index = list(range(100,109)),dtype = "int8")
list2

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int8

In [8]:
list2.head()  # by default return first 5 values

100    10
101    30
102    40
103     1
104     3
dtype: int8

In [9]:
list2.tail()  # by default last 5 values

104     3
105     6
106    14
107    18
108    23
dtype: int8

In [10]:
list2.info()  # it gives information of data

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int8
dtypes: int8(1)
memory usage: 81.0 bytes

In [12]:
list2.describe()  # gives all descriptive statistics

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [13]:
list2.astype("int16")  # change the data type

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int16

In [14]:
list2.size  # no.of elements

9

In [15]:
list2.ndim  # dimension

1

In [16]:
list2.nbytes  # memory occupied by array

9

In [17]:
list2.items # total items

<bound method Series.items of 100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int8>

## 3.create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series

In [18]:
salaries = np.random.randint(30000,90000,30)
salaries

array([41027, 31980, 47379, 65080, 65142, 73798, 88781, 74059, 76934,
       60733, 42922, 45121, 71880, 82692, 52002, 67452, 65550, 85957,
       41406, 73572, 63727, 80836, 85539, 84983, 55147, 45540, 70217,
       54195, 69030, 37850])

In [19]:
salary = pd.Series(salaries)
salary

0     41027
1     31980
2     47379
3     65080
4     65142
5     73798
6     88781
7     74059
8     76934
9     60733
10    42922
11    45121
12    71880
13    82692
14    52002
15    67452
16    65550
17    85957
18    41406
19    73572
20    63727
21    80836
22    85539
23    84983
24    55147
25    45540
26    70217
27    54195
28    69030
29    37850
dtype: int32

In [20]:
salary.mean()  # mean

63351.03333333333

In [21]:
salary.median()  # median --- middle most value

65346.0

In [24]:
salary.mode()  # mode -- there is no repitative values

0     31980
1     37850
2     41027
3     41406
4     42922
5     45121
6     45540
7     47379
8     52002
9     54195
10    55147
11    60733
12    63727
13    65080
14    65142
15    65550
16    67452
17    69030
18    70217
19    71880
20    73572
21    73798
22    74059
23    76934
24    80836
25    82692
26    84983
27    85539
28    85957
29    88781
dtype: int32

In [25]:
salary.max()  # maximum value

88781

In [26]:
salary.min()  # minimum value

31980

In [27]:
salary.var()  # variance

265994935.06781605

In [28]:
salary.std() # standard deviation

16309.35115410224

In [29]:
salary.quantile(0.25)  # quantile -- 25

48534.75

In [30]:
salary.quantile(0.75)  # quantile --- 75

73993.75

## 4.What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

series --- index base
np.array --- not an indexed based

In [33]:
salarie = np.random.randint(30000,90000,30)  # np.array ---it doesnot follow index
salarie

array([30334, 61909, 47440, 50288, 33445, 75323, 65191, 71523, 78537,
       32742, 30762, 64961, 34712, 48500, 49463, 37232, 47761, 43371,
       39461, 34879, 82343, 77627, 83184, 34301, 42747, 85566, 60098,
       80589, 82339, 72848])

In [34]:
salaries = pd.Series(salarie)  # series --- follows index
salaries

0     30334
1     61909
2     47440
3     50288
4     33445
5     75323
6     65191
7     71523
8     78537
9     32742
10    30762
11    64961
12    34712
13    48500
14    49463
15    37232
16    47761
17    43371
18    39461
19    34879
20    82343
21    77627
22    83184
23    34301
24    42747
25    85566
26    60098
27    80589
28    82339
29    72848
dtype: int32

## 5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it

In [36]:
series = list(range(100,150))
series = pd.Series(series)
series

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [37]:
series[0]   # indexing

100

In [38]:
series[0:10] # slicing

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64